.contact {
  position: relative;
  padding: 2rem;
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      color: var(--secondary-color);
      font-family: 'Courier Prime', monospace;
      background: linear-gradient(90deg, rgba(107,50,133,1) 0%, rgba(255,0,132,1) 50%, rgba(238,174,202,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      background-clip: text;
    }

    p {
      font-size: 1.5rem;
      font-style: bold;
      line-height: 1.6;
      color: var(--text-color);
      margin: 2rem 0;
    }
  }

  .image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;

    .profile-image {
      width: 150px; // Ajusta el tamaño según sea necesario
      height: auto;
      mask-image: linear-gradient(black 90%, transparent 100%);
      object-fit: cover;
      box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1), 
                  0 0 20px 10px rgba(129, 214, 196, 0.2), 
                  0 0 20px 10px rgba(161, 102, 216, 0.3);
      animation: fadeIn 2s ease-in-out;
    }
  }
}
