<div id="contact" class="contact">
  <div class="container">
      <h2>Contacto</h2>
      <p>Para contactar conmigo, por favor envíe un correo a 
          <a href="mailto:borjarodriguezdev&#64;gmail.com">borjarodriguezdev&#64;gmail.com</a>.
      </p>
      <p>También puede enviarme un mensaje a través de mi perfil en LinkedIn, al cual puede acceder directamente desde el icono en la barra de navegación a la izquierda. Si desea ver más de mis proyectos, puede visitar mi cuenta de GitHub haciendo clic en el icono correspondiente en la misma barra.</p>
      <p>¡Gracias!</p>
  </div>
  <div class="image-container">
      <img src="assets/img/perfilavatar.webp" class="profile-image" alt="Foto Perfil">
  </div>
</div>
