<div class="about">
  <div class="container">
    <div class="image-container">
      <img src="assets/img/perfilsinfondo.avif" class="profile-image" alt="Foto Perfil">
      
    </div>
    <div class="text-container">
      <h2>Sobre mí</h2>
      <p> Soy un recién graduado en desarrollo de aplicaciones multiplataforma, pero siempre me he sentido atraído por las tecnologías. Tengo más de 15 años de experiencia en el sector de la venta de dispositivos tecnológicos, aunque siempre me ha interesado el desarrollo y la programación. Mi trayectoria me ha dotado de valiosas habilidades tanto técnicas como no técnicas.</p>
      <h3>Soft Skills</h3>
      <ul>
        <li>Liderazgo</li>
        <li>Comunicación</li>
        <li>Trabajo en equipo</li>
        <li>Capacidad resolutiva</li>
        <li>Perseverancia</li>
        <li>Autodidacta</li>
        <li>Ganas de aprender de otros</li>
      </ul>
      <h3>Hard Skills</h3>
      <ul>
        <li>Desarrollo de aplicaciones multiplataforma</li>
        <li>Lenguajes de programación: Java, JavaScript, etc.</li>
        <li>Frameworks: Angular, React, etc.</li>
        <li>Gestión de bases de datos: MySQL, MongoDB</li>
        <li>Control de versiones: Git, GitHub</li>
        <li>Herramientas: Docker, Jenkins</li>
        <li>Siempre al día con las últimas tecnologías a través de varios canales</li>
      </ul>
    </div>
  </div>
</div>
