<div class="about">
  <div class="container">
    <div class="image-container">
      <img src="assets/img/perfilsinfondo.avif" class="profile-image" alt="Foto Perfil">
    </div>
    <div class="text-container">
      <h2>Sobre mí</h2>
      <p>Siempre me he sentido atraído por las tecnologías y la programación. Ahora acabo de graduarme en Desarrollo de Aplicaciones Multiplataforma (DAM). Además, tengo más de 15 años de experiencia en el sector de la venta de dispositivos tecnológicos. Esta trayectoria me ha dotado de valiosas habilidades tanto técnicas como personales.</p>
      <h3>Soft Skills</h3>
      <ul>
        <li>Liderazgo</li>
        <li>Comunicación</li>
        <li>Trabajo en equipo</li>
        <li>Capacidad resolutiva</li>
        <li>Perseverancia</li>
        <li>Autodidacta</li>
        <li>Ganas de aprender de otros</li>
      </ul>
      <h3>Hard Skills</h3>
      <ul>
        <li>Desarrollo de aplicaciones multiplataforma</li>
        <li>Lenguajes de programación: Java, JavaScript, etc.</li>
        <li>Frameworks: Angular, React, etc.</li>
        <li>Gestión de bases de datos: MySQL, MongoDB</li>
        <li>Control de versiones: Git, GitHub</li>
        <li>Herramientas: Docker, Jenkins</li>
        <li>Siempre al día con las últimas tecnologías a través de varios canales</li>
      </ul>
    </div>
  </div>
</div>

<div class="skills">
  <div class="skills-container">
    <div class="skill-category">
      <div class="skill-icon">
        <img src="assets/img/frontend-icon.png" alt="Frontend">
      </div>
      <h2>Frontend</h2>
      <div class="skills-list">
        <span class="skill-item">HTML5</span>
        <span class="skill-item">CSS3</span>
        <span class="skill-item">JavaScript</span>
        <span class="skill-item">Angular</span>
        <span class="skill-item">TypeScript</span>
        <span class="skill-item">Flutter</span>
        <span class="skill-item">Unity</span>
      </div>
    </div>
    <div class="skill-category">
      <div class="skill-icon">
        <img src="assets/img/backend-icon.png" alt="Backend">
      </div>
      <h2>Backend</h2>
      <div class="skills-list">
        <span class="skill-item">Java</span>
        <span class="skill-item">Python</span>
        <span class="skill-item">NodeJS</span>
        <span class="skill-item">Firebase</span>
        <span class="skill-item">MySQL</span>
        <span class="skill-item">MongoDB</span>
      </div>
    </div>
    <div class="skill-category">
      <div class="skill-icon">
        <img src="assets/img/testing-icon.png" alt="Testing">
      </div>
      <h2>Testing</h2>
      <div class="skills-list">
        <span class="skill-item">Selenium</span>
        <span class="skill-item">Jasmine & Karma</span>
        <span class="skill-item">Mockito</span>
      </div>
    </div>
    <div class="skill-category">
      <div class="skill-icon">
        <img src="assets/img/tools-icon.png" alt="Herramientas">
      </div>
      <h2>Herramientas</h2>
      <div class="skills-list">
        <span class="skill-item">GitHub</span>
        <span class="skill-item">Miro</span>
        <span class="skill-item">Postman</span>
        <span class="skill-item">Scrum</span>
        <span class="skill-item">Trello</span>
      </div>
    </div>
  </div>
</div>
