<div class="about">
  <div class="container">
    <div class="image-container">
      <img src="assets/img/perfilsinfondo.png" class="profile-image" alt="Foto Perfil">
    </div>
    <div class="text-container">
      <h2>Sobre mí</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis erat a arcu finibus, at accumsan lorem bibendum.</p>
    </div>
  </div>
</div>

<div class="skills">
  <div class="skills-container">
    <div class="skill-category">
      <div class="skill-icon">
        <img src="assets/img/frontend-icon.png" alt="Frontend">
      </div>
      <h2>Frontend</h2>
      <div class="skills-list">
        <span class="skill-item">HTML5</span>
        <span class="skill-item">CSS3</span>
        <span class="skill-item">JavaScript</span>
        <span class="skill-item">ReactJS</span>
        <span class="skill-item">TypeScript</span>
        <span class="skill-item">VueJS</span>
      </div>
    </div>
    <div class="skill-category">
      <div class="skill-icon">
        <img src="assets/img/backend-icon.png" alt="Backend">
      </div>
      <h2>Backend</h2>
      <div class="skills-list">
        <span class="skill-item">Java</span>
        <span class="skill-item">NodeJS</span>
        <span class="skill-item">Express</span>
        <span class="skill-item">MySQL</span>
        <span class="skill-item">MongoDB</span>
      </div>
    </div>
    <div class="skill-category">
      <div class="skill-icon">
        <img src="assets/img/testing-icon.png" alt="Testing">
      </div>
      <h2>Testing</h2>
      <div class="skills-list">
        <span class="skill-item">Jest</span>
        <span class="skill-item">Selenium</span>
        <span class="skill-item">React Testing Library</span>
      </div>
    </div>
    <div class="skill-category">
      <div class="skill-icon">
        <img src="assets/img/tools-icon.png" alt="Herramientas">
      </div>
      <h2>Herramientas</h2>
      <div class="skills-list">
        <span class="skill-item">GitHub</span>
        <span class="skill-item">GitLab</span>
        <span class="skill-item">Postman</span>
        <span class="skill-item">Scrum</span>
        <span class="skill-item">Kanban</span>
      </div>
    </div>
  </div>
</div>
