.home {
  text-align: center;
  padding: 0 0;

  h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: var(--secondary-color);
    font-family: 'Courier Prime', monospace; // Usa una fuente especial
    background: linear-gradient(90deg, rgba(107,50,133,1) 0%, rgba(255,0,132,1) 50%, rgba(238,174,202,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); // Agrega sombra al texto
    background-clip: text; 
  }

  h2 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    color: var(--secondary-color);
    font-family: 'Dancing Script', cursive; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); // Agrega sombra al texto
  }

  p {
    font-size: 1.2rem;
    margin-top: 2rem;
        line-height: 1.6;
        color: var(--text-color);
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
  }
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .home {
    padding: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    margin: 1rem 1rem; /* Reducir margen lateral para dispositivos móviles */
    font-size: 1rem;
    text-align: center; /* Ajustar el texto para mejor legibilidad */
  }
}
