<div id="projects" class="projects">
  <h2>Proyectos</h2>
    <div class="project" (click)="toggleProject($event)">
      <h3>Flappy Bird</h3>
      <div class="content">
        <p>Este proyecto fué una de las prácticas de mi grado, en él que recreé un Flappy Bird utilizando Unity. Agregué música de fondo, sonidos y contador con record personal.</p>
        <img src="assets/img/flappybird.webp" class="project-image">
        <p>Repositorio Unity:</p>
        <a href="https://cloud.unity.com/home/organizations/1375447601984/projects/f2cc80ad-eda5-4672-b720-125f82c5ea57/details?tab=services" target="_blank">
          <img src="assets/icons/unity.png" alt="Unity" class="github-icon">
        </a>
      </div>
    </div>
    <div class="project" (click)="toggleProject($event)">
      <h3>GALILEO</h3>
      <div class="content">
        <p>Este ha sido mi proyecto más ambicioso hasta el momento. En mis prácticas en empresa desarrollé una app móvil con el framework Flutter. Es una app educativa dirigida a realizar diferentes experimentos aplicando el método científico, de forma animada y dinámica. Está pendiente de comercialización.</p>
        <img src="assets/img/galileo.webp" class="project-image">
        <p>Repositorio GitHub:</p>
        <a href="https://github.com/BorjaRBEST/GALILEO.git" target="_blank">
          <img src="assets/icons/github.png" alt="GitHub" class="github-icon">
        </a>
      </div>
    </div>
    <div class="project" (click)="toggleProject($event)">
      <h3>Portfolio personal</h3>
      <div class="content">
        <p>Puedo presentar este Portfolio cómo un proyecto personal también. Está realizado con Angular y utilizando alojamiento gratuito en Vercel. Aunque yo venga de Desarrollo de Aplicaciones Multiplataforma, ha sido para mí un reto aprender stacks nuevos de tecnologías y ampliar conocimientos, ya que el desarrollo web solo lo ví en el primer año de mi Grado Superior.</p>
        <img src="assets/img/portfolio.webp" class="project-image">
        <p>Repositorio GitHub:</p>
        <a href="https://github.com/BorjaRBEST/borja-portafolio" target="_blank">
          <img src="assets/icons/github.png" alt="GitHub" class="github-icon">
        </a>
      </div>
    </div>
    <div class="project" (click)="toggleProject($event)">
      <h3>Lista Colegios</h3>
      <div class="content">
        <p>Una app multiplataforma de selección de colegios para funcionarios docentes, que quieran ver las zonas donde se ubican sus centros seleccionados. En un principio los datos de colegios seleccionados se carga a través de un archivo JSON que contiene las coordenadas y con ayuda de la API de Google Maps los ubica en un mapa de la zona por colores y orden de selección. Se pueden exportar en un archivo csv. La idea en un futuro es poner una barra de búsqueda, seleccionar tipo de centro, etc. .</p>
        <img src="assets/img/appcolegios.webp" class="project-image">
        <p>Repositorio GitHub:</p>
        <a href="https://github.com/BorjaRBEST/SelectorColegios.git" target="_blank">
          <img src="assets/icons/github.png" alt="GitHub" class="github-icon">
        </a>
      </div>
    </div>
  
</div>
