<div id="projects" class="projects">
  <h2>Proyectos</h2>
  <div class="project" (click)="toggleProject($event)">
    <h3>Flappy Bird</h3>
    <div class="content">
      <p>Este proyecto fue una de las prácticas de mi grado, en el cual recreé un Flappy Bird utilizando Unity. Agregué música de fondo, sonidos y un contador con récord personal.</p>
      <img src="assets/img/flappybird.webp" class="project-image">
      <p>Repositorio Unity:</p>
      <a href="https://cloud.unity.com/home/organizations/1375447601984/projects/f2cc80ad-eda5-4672-b720-125f82c5ea57/details?tab=services" target="_blank">
        <img src="assets/icons/unity.png" alt="Unity" class="github-icon">
      </a>
    </div>
  </div>
  <div class="project" (click)="toggleProject($event)">
    <h3>GALILEO</h3>
    <div class="content">
      <p>Este ha sido mi proyecto más ambicioso hasta el momento. Durante mis prácticas en una empresa, desarrollé una app móvil con el framework Flutter. Es una app educativa dirigida a realizar diferentes experimentos aplicando el método científico, de forma animada y dinámica. Utiliza servicios de Firebase, como Firestore y Firebase Authentication. Está pendiente de comercialización.</p>
      <img src="assets/img/galileo.webp" class="project-image">
      <p>Repositorio GitHub (repositorio privado):</p>
      <a href="https://github.com/BorjaRBEST" target="_blank">
        <img src="assets/icons/github.png" alt="GitHub" class="github-icon">
      </a>
    </div>
  </div>
  <div class="project" (click)="toggleProject($event)">
    <h3>Portfolio personal</h3>
    <div class="content">
      <p>Puedo presentar este Portfolio como un proyecto personal. Está realizado con Angular y alojado de forma gratuita en Vercel. Aunque mi formación es en Desarrollo de Aplicaciones Multiplataforma, ha sido un reto aprender nuevas tecnologías y ampliar mis conocimientos, ya que el desarrollo web solo lo estudié en el primer año de mi Grado Superior.</p>
      <img src="assets/img/portfolio.webp" class="project-image">
      <p>Repositorio GitHub:</p>
      <a href="https://github.com/BorjaRBEST/borja-portafolio" target="_blank">
        <img src="assets/icons/github.png" alt="GitHub" class="github-icon">
      </a>
    </div>
  </div>
  <div class="project" (click)="toggleProject($event)">
    <h3>Lista Colegios</h3>
    <div class="content">
      <p>Una app multiplataforma para la selección de colegios para funcionarios docentes que quieran ver las zonas donde se ubican sus centros seleccionados. Inicialmente, los datos de colegios seleccionados se cargan a través de un archivo JSON que contiene las coordenadas y, con la ayuda de la API de Google Maps, los ubica en un mapa de la zona por colores y orden de selección. Se pueden exportar en un archivo CSV. La idea en un futuro es agregar una barra de búsqueda, selección de tipo de centro, etc.</p>
      <img src="assets/img/appcolegios.webp" class="project-image">
      <p>Repositorio GitHub:</p>
      <a href="https://github.com/BorjaRBEST/SelectorColegios.git" target="_blank">
        <img src="assets/icons/github.png" alt="GitHub" class="github-icon">
      </a>
    </div>
  </div>
</div>
