.projects {
  margin: 2rem 2rem 2rem 4rem;  // Control de margenes arriba, derecha, abajo e izquierda en ese orden
  margin-bottom: 2rem;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

    .project {
      background-color: var(--card-background-color);
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: var(--secondary-color);
        font-family: 'Courier Prime', monospace;  
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); // Agrega sombra al texto
      }

      p {
        font-size: 1rem;
        color: var(--text-color);
      }
    }
  }
}
