.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  width: 150px;
  background-color: var(--primary-color);
  padding: 1rem;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  justify-content: space-between;

  a, button {
    margin: 1rem 0;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;

    &:hover {
      background-color: var(--hoover-bg-color);
      color: var(--text-color);
    }
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding-top: auto;
    margin-bottom: 1rem;

    img {
      width: 32px;
      height: 32px;
      margin: 0.1rem 0; // Reducir el margen para acercar los iconos
      cursor: pointer;
      transition: transform 0.3s;
    }

    img:hover {
      transform: scale(1.1);
    }
  }

  .theme-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    .theme-icon {
      width: 24px;
      height: 24px;
      margin: 0.5rem 0;
      cursor: pointer;
      transition: transform 0.3s;
    }

    .theme-icon:hover {
      transform: scale(1.1);
    }
  }
}

.content {
  flex: 1;
  margin-left: 150px;
  padding: 2rem;
  overflow-y: auto;
  height: auto;
}
